node_modules/
npm-debug.log
lib
config.json
.idea/
.DS_Store
.settings
data/
logs
log
bower_components
.package-lock.json
.vscode
public/_design
views/_design

CONFIG.BAK
*.bak
test.json
cert.pem
key.pem
package-lock.json
package-lock.json
package.json
src/CWOM/Target.js
src/CWOMService2.js
iwo_private_key.pem
iwo_public_key.txt
